

    *{
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    };  

    main {
        background-color: grey;
        height: 100vh;
        width: 100vw;
    }

    nav {
        display: flex;
        border: solid 2px black;
        margin-bottom: 2rem;
        height:4rem;
        width: 100%;
        flex-direction: row;
        gap: 1rem; 
        align-items: center;

            .logoWrapper {
                padding: 1rem;
                border: solid 2px red;
            }

            .buttonWrapper  {
                border: 2px solid black;
                margin-left: auto;
                height: 1.5rem;
                padding-right: 2rem;
            }
    }



    .book-display {
        display: flex; 
        gap: 5px; 
        flex-wrap: wrap; 
        flex-direction: column; 
    }


  /* Book Submit Form Styling */

  .container {
    border: solid 2px red;
    max-width: fit-content;
  
        form {

        #user-title, #year, #author, #pages {
            margin-top: 0.5rem;
            display: block;
        }

        label {
            display: block;
            margin-top: 0.5rem;
        }

        button { 
            margin-top: 1rem;
        }
        }
    }

   