    /*Imports */

    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
    
    
    /* Variables */ 
    $font-base: #70d8ff; 
    $nav-back-color: #ff70d6;
    $detailing: #ed682a;
    $contrastingFont:#2aea9a;
    $font-base2:#efe704;
    $white: #ffff;
    $alt-color: #ee00ff;



    *{
        font-family: 'Noto Serif', serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    };  

    //contains all elements on page.
    main {
        background-color: $font-base;
        height: 100vh;
        width: 60vw;
        margin: auto;
        position: relative;
    }

    nav {
        display: flex;
        //border: solid 2px black;
        margin-bottom: 2rem;
        min-height:4rem;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem; 
        background-color: $nav-back-color;
        align-items: center;
        padding: 0.5rem;

            .logoWrapper {
                //border: solid 2px black;
                flex-grow: 1fr;
                width:fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $font-base;

                h1 {
                    margin-left:2rem;
                    font-size: 2rem;
                    }
                };
                //SVG File 
                img { 
                    width:10vw;
                    //border: solid 2px black;
                    
                }

            .buttonWrapper  {
                //border: 2px solid black;
               // display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-height: 1.5rem;
                padding-right: 2rem;
                flex-grow: 1fr;
                margin-left: auto;
                flex-shrink: 1;
        
                // Nav Buttons 
                button { 
                    border-radius: none;
                    width: fit-content;
                    height: 2rem;
                    padding: 0.25rem;
                    outline-style: none;
                    outline: $nav-back-color;
                    font-size: 1rem;
                    background-color: #ff70d6;
                    color: $white;
                    
                }


            }
    }


// Dynamic elements appenede to book-display
    .book-display {
        //border: solid 2px $detailing;
        display: flex; 
        gap: 1rem; 
        flex-wrap: wrap; 
        flex-direction: row;
        padding: 1rem; 

        .example-card {
            border: solid 2px $font-base2;
            width: 25%;
            min-width: fit-content;
            min-height: 10rem;
            height: 30%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: $alt-color;
            color: $white;
            border-radius: 5px;
            padding: 0.5rem;


            button{
                width: 50%;
                margin: auto;
                border-radius: 5px;
                background-color: $font-base;
                color: $alt-color;
                font-weight: bold;


            }

        }
    }

    .example-card.is-active { 
        background-color: $font-base2;

    }

  /* Book Submit Form Styling */

  .container {
    border: solid 0.2rem $nav-back-color;
    max-width: fit-content;
    margin:4rem auto;
  
        form {
            font-style: italic;

        #user-title, #year, #author, #pages {
            margin-top: 0.5rem;
            display: block;
            color: $detailing;
            font-style: italic;
           
        }

        label {
            display: block;
            margin-top: 0.5rem;
        }

        
        button { 
            display: block;
            border-radius: none;
            width: fit-content;
            height: fit-content;
            padding: 0.25rem;
            outline-style: none;
            outline: $nav-back-color;
            background-color: #ff70d6;
            color: $white;
            margin: 0.5rem auto;
                    }

                }
            }
    


    //media quirey section
    @media only screen and (max-width: 1000px) {
        
        nav * {
            margin: auto;
        }
        
        nav {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .buttonWrapper  {
                //border: 2px solid black;
               // display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-height:fit-content;
                padding-right: 0;
                flex-grow: 1fr;
                flex-shrink: 1;
                margin:auto;
    }

        
    }
}