@charset "UTF-8";
/*Imports */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
/* Variables */
* {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #70d8ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 60vw;
  margin: auto;
  position: relative;
}

nav {
  display: flex;
  min-height: 4rem;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #ff70d6;
  align-items: center;
  padding: 0.5rem;
}
nav .logoWrapper {
  flex-grow: 1fr;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #70d8ff;
}
nav .logoWrapper h1 {
  margin-left: 2rem;
  font-size: 2rem;
}
nav img {
  width: 20vw;
}
nav .buttonWrapper {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 1.5rem;
  padding-right: 2rem;
  flex-grow: 1fr;
  margin-left: auto;
  flex-shrink: 1;
}
nav .buttonWrapper button {
  border-radius: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 2rem;
  padding: 0.25rem;
  outline-style: none;
  outline: #ff70d6;
  font-size: 1rem;
  background-color: #ff70d6;
  color: white;
  font-size: 1rem;
}

.book-display {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
}
.book-display .example-card {
  border: solid 2px #efe704;
  width: 25%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 10rem;
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ee00ff;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}
.book-display .example-card button {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  background-color: #70d8ff;
  color: #ee00ff;
  font-weight: bold;
}

.example-card.is-active {
  background-color: #efe704;
}

/* Book Submit Form Styling */
.container {
  border: solid 0.2rem #ff70d6;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 1rem auto;
}
.container form {
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.container form .labelFlex {
  width: 50%;
  max-width: 50%;
  text-align: center;
  align-items: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.container form #user-title, .container form #year, .container form #author, .container form #pages {
  margin-top: 0.5rem auto;
  display: block;
  color: #ed682a;
  font-style: italic;
}
.container form label {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.container form input {
  display: block;
  margin: auto;
  max-width: 100%;
}
.container form button {
  display: block;
  border-radius: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem;
  outline-style: none;
  outline: #ff70d6;
  background-color: #f33cbf;
  color: white;
  margin: 1rem auto;
}
.container form button:disabled {
  opacity: 0.5;
}

/* Validation Styling */
.error {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.308);
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: small;
  margin-top: 0.15rem;
}
.error.invalid {
  border: 1px solid red;
}
.error.invalid:before {
  content: "⚑";
  color: red;
  margin-right: 0.25rem;
}
.error.valid {
  border: 1px solid darkgreen;
  border-color: black;
  background-color: rgba(64, 234, 42, 0.5490196078);
}
.error.valid:after {
  content: "✓";
  margin-right: 0.25rem;
  color: darkgreen;
}

@media only screen and (max-width: 600px) {
  nav * {
    margin: auto;
  }
  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav .buttonWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-right: 0;
    flex-grow: 1fr;
    flex-shrink: 1;
    margin: auto;
  }
  nav .buttonWrapper button {
    margin: 0.5rem auto;
    display: block;
  }
  .container form {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .example-card {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */